In [8]:
#Read and view, View the dataset shape
import pandas as pd 
# read text file into pandas DataFrame
df = pd.read_csv("faa_ai_prelim.csv")
  
# display DataFrame
print(df)
display(df.shape)

(83, 42)

In [9]:
#D>> print(df.columns)

print(df.columns)

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [12]:
#E>> read specific columns of csv file using Pandas
df = pd.read_csv("faa_ai_prelim.csv", usecols = ['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG'])
print(df)

    LOC_STATE_NAME                                           RMK_TEXT  \
0   North Carolina  AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...
1          Florida  AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...
2       New Jersey  AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...
3   North Carolina  AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...
4           Alaska  AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...
..             ...                                                ...
78           Texas  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...
79         Arizona  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...
80      California  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...
81      California  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...
82         Alabama  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...

   EVENT_TYPE_DESC  ACFT_MAKE_NAME ACFT_MODEL_NAME       FLT_PHASE FATAL_FLAG
0         Accident           BEECH              36   UNKNOWN (UNK)        Yes
1         Incident            VANS             RV7   LANDING (LDG)        NaN
2         Incident          CESSNA             172  APPROACH (APR)        NaN
3         Incident         LANCAIR             235   LANDING (LDG)        NaN
4         Incident          CESSNA             172   LANDING (LDG)        NaN
..             ...             ...             ...             ...        ...
78        Accident         AERONCA            O58B   LANDING (LDG)        NaN
79        Accident  NORTH AMERICAN             F51   UNKNOWN (UNK)        Yes
80        Accident        CHAMPION           8KCAB   UNKNOWN (UNK)        Yes
81        Accident           BEECH              35   UNKNOWN (UNK)        Yes
82        Accident          CESSNA             182   UNKNOWN (UNK)        Yes

[83 rows x 7 columns]

In [14]:
#F>> count of missing values in each column
df = pd.read_csv("faa_ai_prelim.csv")
df.isnull().sum()

UPDATED                 0
ENTRY_DATE              0
EVENT_LCL_DATE          0
EVENT_LCL_TIME          0
LOC_CITY_NAME           0
LOC_STATE_NAME          0
LOC_CNTRY_NAME         81
RMK_TEXT                0
EVENT_TYPE_DESC         0
FSDO_DESC               2
REGIST_NBR              0
FLT_NBR                77
ACFT_OPRTR             76
ACFT_MAKE_NAME          5
ACFT_MODEL_NAME         4
ACFT_MISSING_FLAG      83
ACFT_DMG_DESC           1
FLT_ACTIVITY           70
FLT_PHASE               1
FAR_PART               82
MAX_INJ_LVL             3
FATAL_FLAG             75
FLT_CRW_INJ_NONE       19
FLT_CRW_INJ_MINOR      77
FLT_CRW_INJ_SERIOUS    82
FLT_CRW_INJ_FATAL      75
FLT_CRW_INJ_UNK        83
CBN_CRW_INJ_NONE       83
CBN_CRW_INJ_MINOR      83
CBN_CRW_INJ_SERIOUS    83
CBN_CRW_INJ_FATAL      83
CBN_CRW_INJ_UNK        82
PAX_INJ_NONE           66
PAX_INJ_MINOR          82
PAX_INJ_SERIOUS        80
PAX_INJ_FATAL          82
PAX_INJ_UNK            83
GRND_INJ_NONE          83
GRND_INJ_MINOR         83
GRND_INJ_SERIOUS       83
GRND_INJ_FATAL         83
GRND_INJ_UNK           82
dtype: int64

In [21]:
#G>> Clean the dataset and replace the fatal flag NaN with “No”
df = pd.read_csv("faa_ai_prelim.csv", usecols = [ 'FATAL_FLAG'])
df['FATAL_FLAG'].fillna('',inplace=True)

print(df)

   FATAL_FLAG
0         Yes
1
2
3
4
..        ...
78
79        Yes
80        Yes
81        Yes
82        Yes

[83 rows x 1 columns]

In [27]:
#G,H>>Clean the dataset and replace the fatal flag NaN with “No”

df = pd.read_csv("faa_ai_prelim.csv", usecols = [ 'FATAL_FLAG'])
#df = df.dropna()
df['FATAL_FLAG'] = df['FATAL_FLAG'].fillna("NO")
print(df)

   FATAL_FLAG
0         Yes
22        Yes
53        Yes
55        Yes
79        Yes
80        Yes
81        Yes
82        Yes

In [43]:
#df = pd.read_csv("faa_ai_prelim.csv")
#df['ACFT_MAKE_NAME'].dropna()
# Method 1 - Filter dataframe
#df = df[df['ACFT_MAKE_NAME'] == 0]
# Method 2 - Using the drop() function
#df.drop(df.index[df['ACFT_MAKE_NAME'] == 0], inplace=True)
#print(df)

df.drop(df.loc[df['ACFT_MAKE_NAME']== ""].index, inplace=True)
print(df)

   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
1       No  19-FEB-16      18-FEB-16      23:55:00Z     TAVERNIER
2       No  19-FEB-16      18-FEB-16      22:14:00Z       TRENTON
3       No  19-FEB-16      18-FEB-16      17:10:00Z     ASHEVILLE
4       No  19-FEB-16      18-FEB-16      00:26:00Z     TALKEETNA
..     ...        ...            ...            ...           ...
78      No  08-FEB-16      31-DEC-15      17:00:00Z   SAN ANTONIO
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
1          Florida            NaN
2       New Jersey            NaN
3   North Carolina            NaN
4           Alaska            NaN
..             ...            ...
78           Texas            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
1          FAA Miami FSDO-19  ...          NaN           NaN             NaN
2   FAA Philadelphia FSDO-17  ...          NaN           NaN             NaN
3      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
4      FAA Anchorage FSDO-03  ...          NaN           1.0             NaN
..                       ...  ...          ...           ...             ...
78   FAA San Antonio FSDO-17  ...          NaN           NaN             NaN
79    FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82    FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
1            NaN         NaN            NaN            NaN              NaN
2            NaN         NaN            NaN            NaN              NaN
3            NaN         NaN            NaN            NaN              NaN
4            NaN         NaN            NaN            NaN              NaN
..           ...         ...            ...            ...              ...
78           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
78            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[83 rows x 42 columns]

In [46]:
#I>>Remove all the observations where aircraft names (ACFT_MAKE_NAME) are not available

df.drop(df[df['ACFT_MAKE_NAME'] == ""].index, inplace=True)
print(df)

   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
1       No  19-FEB-16      18-FEB-16      23:55:00Z     TAVERNIER
2       No  19-FEB-16      18-FEB-16      22:14:00Z       TRENTON
3       No  19-FEB-16      18-FEB-16      17:10:00Z     ASHEVILLE
4       No  19-FEB-16      18-FEB-16      00:26:00Z     TALKEETNA
..     ...        ...            ...            ...           ...
78      No  08-FEB-16      31-DEC-15      17:00:00Z   SAN ANTONIO
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
1          Florida            NaN
2       New Jersey            NaN
3   North Carolina            NaN
4           Alaska            NaN
..             ...            ...
78           Texas            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
1          FAA Miami FSDO-19  ...          NaN           NaN             NaN
2   FAA Philadelphia FSDO-17  ...          NaN           NaN             NaN
3      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
4      FAA Anchorage FSDO-03  ...          NaN           1.0             NaN
..                       ...  ...          ...           ...             ...
78   FAA San Antonio FSDO-17  ...          NaN           NaN             NaN
79    FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82    FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
1            NaN         NaN            NaN            NaN              NaN
2            NaN         NaN            NaN            NaN              NaN
3            NaN         NaN            NaN            NaN              NaN
4            NaN         NaN            NaN            NaN              NaN
..           ...         ...            ...            ...              ...
78           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
78            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[83 rows x 42 columns]

In [47]:
#J>>Find the aircraft types and their occurrences in the dataset

df.groupby(['ACFT_MODEL_NAME']).size()

ACFT_MODEL_NAME
140              1
150              3
152              2
172              4
175              1
180              1
182              2
206              3
210              4
235              1
2T1A             1
310              2
33               1
340              1
35               3
36               3
369              1
47G              1
500              1
55               1
560              1
737              2
747              1
8KCAB            2
A319             1
AA1              1
BT15             1
CTLS             1
EAGLE II         1
ERJ190           1
F51              1
FIREFLY          1
GC1B             1
GULFSTREAM200    1
IV               1
KITFOX           1
M20E             1
M20K             2
M20M             1
M4               1
NA265            1
O58B             1
PA20             1
PA24             2
PA28             3
PA31             1
PA34             3
PT19             1
RV7              1
RX8              1
S2               1
T34              1
TB21             1
TB9              1
dtype: int64

In [57]:
#K>>Display the observations where fatal flag is “Yes”.
#df.query('FATAL_FLAG' == 'Yes')
df.query('FATAL_FLAG == "Yes"')

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,No,17-FEB-16,16-FEB-16,20:52:00Z,BUCKEYE,Arizona,NaN,"AIRCRAFT, LIGHT SPORT EVOLUTION REVO, ON TAKE...",Accident,FAA Scottsdale FSDO-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,No,12-FEB-16,11-FEB-16,11:32:00Z,DESTIN,Florida,United States,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
55,No,11-FEB-16,11-FEB-16,00:17:00Z,TULARE,California,NaN,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident,FAA Fresno FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,No,08-FEB-16,05-FEB-16,11:17:00Z,MARICOPA,Arizona,NaN,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident,FAA Scottsdale FSDO-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,NaN,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,NaN,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Yes,02-FEB-16,02-FEB-16,01:52:00Z,MOBILE,Alabama,NaN,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident,FAA Birmingham FSDO-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#I>>Show the accidents with fatality.

df = pd.read_csv("faa_ai_prelim.csv", usecols = ['EVENT_TYPE_DESC', 'FATAL_FLAG'])
print(df)